{% extends 'base.html.twig' %}

{% block title %}ButchGamy - Games{% endblock %}

{% block body %}
<div class="container">
	<ul class="nav nav-tabs my-3">
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_homepage_all') }}">Public games</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="{{ path('app_homepage') }}">Friends' games</a>
		</li>
	</ul>
	{{ include('game/_grid.html.twig', {emptyMessage: 'No games, or no friends?'}) }}
</div>
{% endblock %}
