{% extends 'base.html.twig' %}

{% block title %}ButchGamy - Users{% endblock %}

{% block body %}
	<div class="container my-3">
		<form class="row">
			<div class="col">
				<label class="visually-hidden" for="filter">Filter</label>
				<input type="search" name="filter" id="filter" class="form-control" value={{ filter }}>
			</div>
			<div class="col-auto">
				<button type="submit" class="btn btn-primary">Filter</button>
			</div>
		</form>
		<p class="container">
			{{ include('user/_grid.html.twig') }}
		</p>
	</div>
{% endblock %}